@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 10vh 0 100px;
    background: linear-gradient( 45deg, #0779e4, #bbe1fa, #77d8d8, #0f3460, #1a1a2e);
    background-size: 500% 500%;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.img {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 35px;
    top: 21px;
}

.figuras-geometricas {
    position: absolute;
    left: 145px;
    top: 21px;
    font-family: Segoe UI;
    font-style: italic;
    font-weight: 900;
    font-size: 24px;
    line-height: 64px;
    color: #fff;
}

header .header {
    display: flex;
}

.menu {
    position: absolute;
    width: 438px;
    height: 395px;
    left: 424px;
    top: 323px;
}